.row_border {

    margin-bottom: 2em;
    border: solid 1px #ececec;
    border-radius: 10px;
    background-color: #68ada1;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-left: 50px !important;
    width: 90% !important;
    font-size: 15px !important;

}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
